@import "tailwindcss";

::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0f1f;
}

::-webkit-scrollbar-thumb {
  background: #01386f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #02425d;
}

* {
  scrollbar-color: #024d97 #0a0f1f;
  scrollbar-width: thin;
}
